<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html.
  It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have hash-based filenames,
  so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/.
  For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Ollie!</title>
    <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
   -->
    <% if (htmlWebpackPlugin.options.rollbarToken) { %>
    <script>
        // include and initialize the rollbar library with your access token
    var _rollbarConfig = {
        accessToken: '<%=htmlWebpackPlugin.options.rollbarToken%>',
        captureUncaught: true,
        captureUnhandledRejections: true,
        payload: {
            environment: "production"
        }
    };
    // Rollbar Snippet
    !function(r){function e(n){if(o[n])return o[n].exports;var t=o[n]={exports:{},id:n,loaded:!1};return r[n].call(t.exports,t,t.exports,e),t.loaded=!0,t.exports}var o={};return e.m=r,e.c=o,e.p="",e(0)}([function(r,e,o){"use strict";var n=o(1),t=o(4);_rollbarConfig=_rollbarConfig||{},_rollbarConfig.rollbarJsUrl=_rollbarConfig.rollbarJsUrl||"https://cdnjs.cloudflare.com/ajax/libs/rollbar.js/2.4.6/rollbar.min.js",_rollbarConfig.async=void 0===_rollbarConfig.async||_rollbarConfig.async;var a=n.setupShim(window,_rollbarConfig),l=t(_rollbarConfig);window.rollbar=n.Rollbar,a.loadFull(window,document,!_rollbarConfig.async,_rollbarConfig,l)},function(r,e,o){"use strict";function n(r){return function(){try{return r.apply(this,arguments)}catch(r){try{console.error("[Rollbar]: Internal error",r)}catch(r){}}}}function t(r,e){this.options=r,this._rollbarOldOnError=null;var o=s++;this.shimId=function(){return o},"undefined"!=typeof window&&window._rollbarShims&&(window._rollbarShims[o]={handler:e,messages:[]})}function a(r,e){if(r){var o=e.globalAlias||"Rollbar";if("object"==typeof r[o])return r[o];r._rollbarShims={},r._rollbarWrappedError=null;var t=new p(e);return n(function(){e.captureUncaught&&(t._rollbarOldOnError=r.onerror,i.captureUncaughtExceptions(r,t,!0),i.wrapGlobals(r,t,!0)),e.captureUnhandledRejections&&i.captureUnhandledRejections(r,t,!0);var n=e.autoInstrument;return e.enabled!==!1&&(void 0===n||n===!0||"object"==typeof n&&n.network)&&r.addEventListener&&(r.addEventListener("load",t.captureLoad.bind(t)),r.addEventListener("DOMContentLoaded",t.captureDomContentLoaded.bind(t))),r[o]=t,t})()}}function l(r){return n(function(){var e=this,o=Array.prototype.slice.call(arguments,0),n={shim:e,method:r,args:o,ts:new Date};window._rollbarShims[this.shimId()].messages.push(n)})}var i=o(2),s=0,d=o(3),c=function(r,e){return new t(r,e)},p=d.bind(null,c);t.prototype.loadFull=function(r,e,o,t,a){var l=function(){var e;if(void 0===r._rollbarDidLoad){e=new Error("rollbar.js did not load");for(var o,n,t,l,i=0;o=r._rollbarShims[i++];)for(o=o.messages||[];n=o.shift();)for(t=n.args||[],i=0;i<t.length;++i)if(l=t[i],"function"==typeof l){l(e);break}}"function"==typeof a&&a(e)},i=!1,s=e.createElement("script"),d=e.getElementsByTagName("script")[0],c=d.parentNode;s.crossOrigin="",s.src=t.rollbarJsUrl,o||(s.async=!0),s.onload=s.onreadystatechange=n(function(){if(!(i||this.readyState&&"loaded"!==this.readyState&&"complete"!==this.readyState)){s.onload=s.onreadystatechange=null;try{c.removeChild(s)}catch(r){}i=!0,l()}}),c.insertBefore(s,d)},t.prototype.wrap=function(r,e,o){try{var n;if(n="function"==typeof e?e:function(){return e||{}},"function"!=typeof r)return r;if(r._isWrap)return r;if(!r._rollbar_wrapped&&(r._rollbar_wrapped=function(){o&&"function"==typeof o&&o.apply(this,arguments);try{return r.apply(this,arguments)}catch(o){var e=o;throw e&&("string"==typeof e&&(e=new String(e)),e._rollbarContext=n()||{},e._rollbarContext._wrappedSource=r.toString(),window._rollbarWrappedError=e),e}},r._rollbar_wrapped._isWrap=!0,r.hasOwnProperty))for(var t in r)r.hasOwnProperty(t)&&(r._rollbar_wrapped[t]=r[t]);return r._rollbar_wrapped}catch(e){return r}};for(var u="log,debug,info,warn,warning,error,critical,global,configure,handleUncaughtException,handleUnhandledRejection,captureEvent,captureDomContentLoaded,captureLoad".split(","),f=0;f<u.length;++f)t.prototype[u[f]]=l(u[f]);r.exports={setupShim:a,Rollbar:p}},function(r,e){"use strict";function o(r,e,o){if(r){var t;"function"==typeof e._rollbarOldOnError?t=e._rollbarOldOnError:r.onerror&&!r.onerror.belongsToShim&&(t=r.onerror,e._rollbarOldOnError=t);var a=function(){var o=Array.prototype.slice.call(arguments,0);n(r,e,t,o)};a.belongsToShim=o,r.onerror=a}}function n(r,e,o,n){r._rollbarWrappedError&&(n[4]||(n[4]=r._rollbarWrappedError),n[5]||(n[5]=r._rollbarWrappedError._rollbarContext),r._rollbarWrappedError=null),e.handleUncaughtException.apply(e,n),o&&o.apply(r,n)}function t(r,e,o){if(r){"function"==typeof r._rollbarURH&&r._rollbarURH.belongsToShim&&r.removeEventListener("unhandledrejection",r._rollbarURH);var n=function(r){var o,n,t;try{o=r.reason}catch(r){o=void 0}try{n=r.promise}catch(r){n="[unhandledrejection] error getting `promise` from event"}try{t=r.detail,!o&&t&&(o=t.reason,n=t.promise)}catch(r){t="[unhandledrejection] error getting `detail` from event"}o||(o="[unhandledrejection] error getting `reason` from event"),e&&e.handleUnhandledRejection&&e.handleUnhandledRejection(o,n)};n.belongsToShim=o,r._rollbarURH=n,r.addEventListener("unhandledrejection",n)}}function a(r,e,o){if(r){var n,t,a="EventTarget,Window,Node,ApplicationCache,AudioTrackList,ChannelMergerNode,CryptoOperation,EventSource,FileReader,HTMLUnknownElement,IDBDatabase,IDBRequest,IDBTransaction,KeyOperation,MediaController,MessagePort,ModalWindow,Notification,SVGElementInstance,Screen,TextTrack,TextTrackCue,TextTrackList,WebSocket,WebSocketWorker,Worker,XMLHttpRequest,XMLHttpRequestEventTarget,XMLHttpRequestUpload".split(",");for(n=0;n<a.length;++n)t=a[n],r[t]&&r[t].prototype&&l(e,r[t].prototype,o)}}function l(r,e,o){if(e.hasOwnProperty&&e.hasOwnProperty("addEventListener")){for(var n=e.addEventListener;n._rollbarOldAdd&&n.belongsToShim;)n=n._rollbarOldAdd;var t=function(e,o,t){n.call(this,e,r.wrap(o),t)};t._rollbarOldAdd=n,t.belongsToShim=o,e.addEventListener=t;for(var a=e.removeEventListener;a._rollbarOldRemove&&a.belongsToShim;)a=a._rollbarOldRemove;var l=function(r,e,o){a.call(this,r,e&&e._rollbar_wrapped||e,o)};l._rollbarOldRemove=a,l.belongsToShim=o,e.removeEventListener=l}}r.exports={captureUncaughtExceptions:o,captureUnhandledRejections:t,wrapGlobals:a}},function(r,e){"use strict";function o(r,e){this.impl=r(e,this),this.options=e,n(o.prototype)}function n(r){for(var e=function(r){return function(){var e=Array.prototype.slice.call(arguments,0);if(this.impl[r])return this.impl[r].apply(this.impl,e)}},o="log,debug,info,warn,warning,error,critical,global,configure,handleUncaughtException,handleUnhandledRejection,_createItem,wrap,loadFull,shimId,captureEvent,captureDomContentLoaded,captureLoad".split(","),n=0;n<o.length;n++)r[o[n]]=e(o[n])}o.prototype._swapAndProcessMessages=function(r,e){this.impl=r(this.options);for(var o,n,t;o=e.shift();)n=o.method,t=o.args,this[n]&&"function"==typeof this[n]&&("captureDomContentLoaded"===n||"captureLoad"===n?this[n].apply(this,[t[0],o.ts]):this[n].apply(this,t));return this},r.exports=o},function(r,e){"use strict";r.exports=function(r){return function(e){if(!e&&!window._rollbarInitialized){r=r||{};for(var o,n,t=r.globalAlias||"Rollbar",a=window.rollbar,l=function(r){return new a(r)},i=0;o=window._rollbarShims[i++];)n||(n=o.handler),o.handler._swapAndProcessMessages(l,o.messages);window[t]=n,window._rollbarInitialized=!0}}}}]);
    // End Rollbar Snippet
  </script>
  <% } %>
    <!-- Load Allegretto from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/allegretto@latest/dist/retto.min.css" type="text/css" media="all">

    <!-- Overrides for Allegretto -->
    <link rel="stylesheet" href="./index.css" type="text/css" media="all">
</head>

<body>
    <div class="container">
        <div class="hero is-full-screen">
            <div class="logo is-center is-vertical-align">
                <br>
                <img src="./logo.png" alt="Ollie Framework Logo">
                <h3>Ollie - the <strong>opinionated</strong> JavaScript starter kit.</h3>
                <small>
                    <em>BTW, "Ollie" is short for <a href="https://en.wikipedia.org/wiki/Oliver_Twist_(character)" target="_blank">Oliver Twist</a> - and also my opinionated tabby cat.</em>
                </small>
            </div>
            <nav class="tabs is-center">
                <a href="#features">features</a>
                <a href="#start">start</a>
                <a href="#docs">docs</a>
            </nav>
        </div>

        <section id="features">
            <h2>Features</h2>
            <ul>
                <li><b>Webpack Devel­op­ment / Pro­duc­tion</b> — Sep­a­rate dev and prod con­figs & builds. Local
                    devel­op­ment means fast builds via the in-mem­o­ry web­pack-dev-serv­er, and for pro­duc­tion
                    builds every pos­si­ble opti­miza­tion needs to be utilized, making for slower builds at the gain
                    of better optimizations.</li>
                <br />
                <li><b>Hot Mod­ule Replace­ment</b> — as changes are made to JavaScript, CSS, or tem­plates, the
                    web­page seam­less­ly refreshes.</li>
                <br />
                <li><b>Dynam­ic Code Split­ting</b> — Webpack sorts out how to chunk JavaScript in a con­fig file,
                    auto-magically.</li>
                <br />
                <li><b>Async Dynam­ic Mod­ule Load­ing</b> - Load only the code/​resources need­ed, when they are
                    need­ed, with­out ren­der blocking.</li>
                <br />
                <li><b>Mod­ern to Lega­cy JS Bun­dles</b> — Deploy mod­ern ES2017+ JavaScript mod­ules while
                    grace­ful­ly pro­vid­ing a fall­back lega­cy bun­dle for lega­cy browsers (with all of the
                    tran­spiled code and polyfills).</li>
                <br />
                <li><b>Cache Bust­ing via manifest.json</b> - Sets long expiry data for our sta­t­ic assets, while also
                    ensur­ing that they are auto­mat­i­cal­ly cache bust­ed if they change.</li>
                <br />
                <li><b>Crit­i­cal CSS</b> — This is some­thing that makes ini­tial page loads sig­nif­i­cant­ly faster
                    by only delivering the styles needed first.</li>
                <br />
                <li><b>Work­box Ser­vice Work­er</b> — Lever­age Google’s Work­box project to gen­er­ate a Ser­vice
                    Work­er for us that will know about all of our project’s assets.</li>
                <br />
                <li><b>PostC­SS</b> — The ​“Babel of CSS”, lets you SASS like a boss.</li>
                <br />
                <li><b>Image Opti­miza­tion</b> — Opti­mize them via auto­mat­ed tools like mozjpeg, optipng, svgo, etc
                    for next step...</li>
                <br />
                <li><b>Auto­mat­ic .webp Cre­ation</b> — Chrome, Edge, and Fire­fox all are sup­port­ing .webp, and can
                    signifigantly boost performance.</li>
            </ul>
        </section>

        <section id="start">
            <h2>Getting Started</h2>
            <ol>
                <li>Install Node 8 or newer. Need to run multiple versions of Node? Use <code>nvm</code> or <code>nvm-windows</code></li>
                <li>Clone this repository. - <code>git clone https://github.com/VirtuallyCreative/ollie-ui.git my-new-app</code> or
                <a href="https://github.com/VirtuallyCreative/ollie-ui/archive/master.zip" target="_blank">download the .zip</a></li>
                <li>Make sure you're in the directory you just created. - <code>cd my-new-app</code></li>
                <li> Install Node Packages. - <code>npm install</code></li>
                <li>Run the app. - <code>npm start -s</code></li>
                <li>This will run the automated build process, start up a webserver, and open the application in your
                    default
                    browser. When doing development with this kit, this command will continue watching files all your
                    files.
                    Every time you hit save the code is rebuilt, linting runs, and tests run automatically. Note: The
                    <code>-s</code> flag
                    is optional. It enables silent mode which suppresses unnecessary messages during the build.</li>
            </ol>
            <br>
            <p>You can get the latest release on Github.</p>
            <p>
                <a href="https://virtuallycreative.gitbook.io/ollie-framework/v/docs/" class="button outline primary">Read
                    the Docs</a>
                <a href="https://github.com/VirtuallyCreative/ollie-ui/archive/master.zip" class="button outline secondary">Download
                    .zip</a>

            </p>
            <p>You can also come and join-in on the chat and help support Ollie's development!</p>
            <p><a href="https://spectrum.chat/ollie-framework" class="button secondary">Join the Community on Spectrum</a>
            <a href="https://www.patreon.com/virtuallycreative" class="button primary">Support Ollie on Patreon</a>
            </p>
        </section>

        <section>
            <div class="row">
                <div class="col-12 is-text-centered">
                    <h1>Mock API Data</h1>
                    <p>Ollie features a mock-api using Express and JSON Schema Faker for creating randomized mock data.
                        The data for the table below is
                        being dynamically inserted from a JSON API data source.
                </div>
                <div class="col">
                    <table>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody id="userTbl">

                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>

    <footer class="is-text-center">
        <p>
            <a href="#top">back to top</a> &bull; <a href="https://github.com/VirtuallyCreative/Ollie" target="_blank">View
                on GitHub</a>
        </p>

        <h5>Made with &lt;3 by <a href="https://virtuallycreative.ca/" target="_blank">Virtually(Creative)</a>
        </h5>
    </footer>


    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = _paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(["setCookieDomain", "*.ollie-ui.surge.sh"]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.virtuallycreative.ca/";
            _paq.push(['setTrackerUrl', u + 'piwik.php']);
            _paq.push(['setSiteId', '6']);
            var d = document,
                g = d.createElement('script'),
                s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.defer = true;
            g.src = u + 'piwik.js';
            s.parentNode.insertBefore(g, s);
        })();

    </script>
    <noscript>
        <p><img src="//analytics.virtuallycreative.ca/piwik.php?idsite=6&amp;rec=1" style="border:0;" alt="" /></p>
    </noscript>
    <!-- End Matomo Code -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-11177404-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-11177404-5');

    </script>
</body>

</html>
